In [1]:
lambda x,y: x+y

In [2]:
a=lambda x,y:x+y

In [3]:
a(2,9)

11

In [4]:
x=lambda a,b,c,d:a+b-c*d
x(1,2,3,4)

-9

In [6]:
a=lambda x:x*x*x
a(2)

8

In [3]:
#find odd and even using the lambda function
a=23
b=lambda a:'even' if a%2==0 else 'odd'
b(36)

'even'

In [10]:
#filter 
x=[1,2,34,77]
tuple(filter(lambda x:True if x>60 else False,x))

(77,)

In [8]:
x

[1, 2, 34, 77]

In [11]:
x=[34,52,60,30,13,32,53,64,75,90,80]
def fun(x):
    if x>60:
        return True
    else:
        return False
list(filter(fun,x))

[64, 75, 90, 80]

In [ ]:
#wap to find the average of 5 no's using lambda function

In [ ]:
# wap to find the max and min of 3 no's from a list  and find their average with the help of lambda function

In [16]:
#map function
a=[1,2,3,44]
list(map(lambda a:a**2,a))

[1, 4, 9, 1936]

In [17]:
a=[1,2,3,4]
def fun(i):
    return i**2
list(map(fun,a))

[1, 4, 9, 16]

In [18]:
#wap to triple all numbers of a given list of integers use python map
a=[1,2,3]
list(map(lambda a:a**3,a))

[1, 8, 27]

In [ ]:
#wap to add three given lists using python map and lambda

In [ ]:
#wap to square the elements of a list using map() function
a=