In [10]:
#wap which convert tuple to string 
a = (123)
b=("str")
c=a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
print(c)

pristr

In [14]:
a=(123)
y=list(a)

TypeError: 'int' object is not iterable

In [15]:
y

NameError: name 'y' is not defined

In [16]:
x=tuple(qw)

NameError: name 'qw' is not defined

In [17]:
x=('hello')
y=str(x)

In [18]:
y

'hello'

In [19]:
type(y)

str

In [23]:
x=[(1,2,5)]
k=5
for i in x:

SyntaxError: incomplete input (3345890716.py, line 4)

In [24]:
for j in i:
    if j%k==0:
        print("div")
    else:
        print("no")

no
no
no

In [26]:
#wap to find tuple which have all elements divisible by k from a list of tuples


l1=[2,3,4]
l2=[9,4,5]
for f in l2:
    for y in l1:
        print(f)
        print(y)

9
2
9
3
9
4
4
2
4
3
4
4
5
2
5
3
5
4

In [27]:
#set 
#wap to make single element dict
#wap to make empty list 
a=[]

In [28]:
a

[]

In [29]:
x={
    1:0
}

In [30]:
x

{1: 0}

In [31]:
type(x)

dict

In [32]:
type(a)

list

In [33]:
x={1,2,3}
x

{1, 2, 3}

In [34]:
x={12,33}

In [35]:
x

{12, 33}

In [36]:
x={22,"pri",22,34.8,True}

In [37]:
x

{22, 34.8, True, 'pri'}

In [38]:
x[0]

TypeError: 'set' object is not subscriptable

In [39]:
x(0)

TypeError: 'set' object is not callable

In [40]:
#function
def hello():
    print("good  morning !!!")

In [41]:
hello()

good  morning !!!

In [42]:
#wap to add two numbers with the help of function
def pri():
    a=1
    b=2
    c=a+b
    print(c)

In [43]:
c

'pristr'

In [44]:
pri()

3

In [45]:
add()

NameError: name 'add' is not defined

In [46]:
#with argument no return 
def add(x,y):
    z=x+y 
    print(z)

In [53]:
#with argument with return 
#wap to calculate the sum of first 10 numbers using function 
def pri():
    for x in pri:
        print(pri)

In [52]:
pri

In [55]:
def pri()
for i in range(10):
    print(i)

SyntaxError: expected ':' (440405393.py, line 1)