In [1]:
 #wap to add data to a tuple
x=(1,2)
x

(1, 2)

In [2]:
x=[100]

In [3]:
x

[100]

In [8]:
#write a python program to find the index of an item of a tuple
#wap to reverse a tuple
#wap of python to calculate the product , multiplying all the numbers of a given tuple 
#original tuple(4,3,2,2,-1,18)

x=("pri")
x[1:2]

'r'

In [14]:
x=(4,3,2,2,-1,18)
y=-9
for  i in x:
   # y=i*y
    print(y*i)

-36
-27
-18
-18
9
-162

In [25]:
#dict
x={
   'name': 'pri',
    'age':'20',
    'marks':'99'
}

In [26]:
x

{'name': 'pri', 'age': '20', 'marks': '99'}

In [27]:
type(x)

dict

In [21]:
x

{'name': 'pri', 'age': '20'}

In [28]:
x

{'name': 'pri', 'age': '20', 'marks': '99'}

In [29]:
x['name']

'pri'

In [30]:
x['marks']

'99'

In [31]:
x['pri']

KeyError: 'pri'

In [32]:
x['age']

'20'

In [45]:
x={
    'name':{'pri','priya','priyanshi'},
    'age':(11,10)
    
}

In [42]:
x

{'name': {'pri', 'priya', 'priyanshi'}, 'age': '22'}

In [43]:
type(x)

dict

In [47]:
x['name'][1]

TypeError: 'set' object is not subscriptable

In [48]:
#unindexed 
#ordered
#a kind of slicing is possible but not with index
x={
    'a':23
}

In [49]:
x

{'a': 23}

In [50]:
type(x)

dict

In [51]:
x['a']=10

In [52]:
x

{'a': 10}

In [53]:
x

{'a': 10}

In [57]:
x={
    'name':['neha',('pri')],
    'age':'22'
        
}

SyntaxError: invalid syntax. Perhaps you forgot a comma? (21431360.py, line 3)

In [55]:
x

{'name': ['neha', 'pri'], 'age': '22'}

In [56]:
x['name'][1][1]

'r'

In [60]:
#wap to make a dict inside dict 

a={
    1:0,
    2:1,
    3:2,

'b':{
    'name':123,
    'salary':23000
}
}

In [62]:
type(a)

dict

In [63]:
#wap to slice salary from above data /list
x

{'name': ['neha', 'pri'], 'age': '22'}

In [64]:
a

{1: 0, 2: 1, 3: 2, 'b': {'name': 123, 'salary': 23000}}

In [66]:
a['b']['salary']

23000