In [3]:
#insert
#append
#sort 
#pop
#remove
#reverse
#count


x=[23,34,45,98,'python',34.8,True,False]
print(x)

[23, 34, 45, 98, 'python', 34.8, True, False]

In [2]:
type(x)

list

In [4]:
x

[23, 34, 45, 98, 'python', 34.8, True, False]

In [7]:
#append()
x.append(1)

In [8]:
x

[23, 34, 45, 98, 'python', 34.8, True, False, 1, 1]

In [9]:
x.insert()

TypeError: insert expected 2 arguments, got 0

In [10]:
x.insert(0,100)

In [11]:
x

[100, 23, 34, 45, 98, 'python', 34.8, True, False, 1, 1]

In [12]:
x.pop(2,22)

TypeError: pop expected at most 1 argument, got 2

In [13]:
x.pop(8)

False

In [14]:
x

[100, 23, 34, 45, 98, 'python', 34.8, True, 1, 1]

In [15]:
x.remove(2)

ValueError: list.remove(x): x not in list

In [16]:
x.remove(100)

In [17]:
x

[23, 34, 45, 98, 'python', 34.8, True, 1, 1]

In [18]:
x.count()

TypeError: list.count() takes exactly one argument (0 given)

In [19]:
x.count(0)

0

In [20]:
x.count(1)

3

In [21]:
 x

[23, 34, 45, 98, 'python', 34.8, True, 1, 1]

In [22]:
#work only with no 
x.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [26]:
n=[23,34,456,1]

In [27]:
n.sort()

In [28]:
n

[1, 23, 34, 456]

In [29]:
n.sort(reverse=True)

In [30]:
n

[456, 34, 23, 1]

In [31]:
a=[1,2,3,4]
a.reverse()
a

[4, 3, 2, 1]

In [35]:
#tuple
a=(23,'67',34)
print(a)

(23, '67', 34)

In [36]:
type(a)

tuple

In [ ]:
#slicing with the help of index

In [37]:
#mutuable and #immutuable 
x

[23, 34, 45, 98, 'python', 34.8, True, 1, 1]

In [38]:
a

(23, '67', 34)

In [1]:
a.remove(1)

NameError: name 'a' is not defined

In [2]:
a.sort()

NameError: name 'a' is not defined

In [3]:
x[0]=False

NameError: name 'x' is not defined

In [4]:
#tuple(immutuable)
#index
#count
x

NameError: name 'x' is not defined

In [5]:
x=[22,3,3,True,23.7]

In [6]:
x

[22, 3, 3, True, 23.7]

In [7]:
x.index(1)

3

In [8]:
x.count()

TypeError: list.count() takes exactly one argument (0 given)

In [9]:
x.count(1)

1

In [10]:
#wap to slice 89.4 from the above data .
x[3]

True

In [11]:
x=[3][0]='python'

In [12]:
x

'python'

In [13]:
#tuple
#ordered
#immutable

#Wap  to make empty tuple 
#wap to make empty list 
#wap to make single element list 
#wap to make single element tuple



ad=[]
print(ad)

[]

In [14]:
a=()
a

()

In [15]:
x=()
x

()

In [16]:
type(x)

tuple

In [17]:
type(a)

tuple

In [19]:
type(ad)

NameError: name 'ad' is not defined

In [20]:
a=0,2
a

(0, 2)

In [21]:
type(a)

tuple

In [22]:
#wap to add data to a tuple
a=(1,2,3)
b=list(a)
print(b)

[1, 2, 3]

In [23]:
b.append(90)
print(b)
c=tuple(b)
print(c)

[1, 2, 3, 90]
(1, 2, 3, 90)

In [24]:
type(c)

tuple

In [25]:
type(b)

list

In [26]:
type(a)

tuple