In [3]:
#wap to create a variable 
class x :
    a=9

print (x())
x().a

<__main__.x object at 0x000002512EE87D00>

9

In [4]:
var = x()

In [5]:
var.a

9

In [7]:
#wap to make a function inside a oops try to get the output 
class function:
    def fun(self):
        print("hello i am inside loop")
f=function()
f.fun()

hello i am inside loop

In [9]:
class add:
    def fun(aniket,x,y):
        result = x+y
        return result 
a=add()
a.fun(2,3)

5

In [10]:
#wap to make a variable & a function inside loop and try to get the output
class c:
    a=90
    def func(self):
        print("function")
x=c()
x.a

90

In [11]:
x.fun()

AttributeError: 'c' object has no attribute 'fun'

In [13]:
class emp:
    def __init__ (self,name,salary):
        self.name=name
        self.salary=salary
e=emp("a",230000)

In [14]:
e.salary

230000

In [15]:
ename

NameError: name 'ename' is not defined

In [16]:
e.name

'a'

In [22]:
 #inheritance 
class parent:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    
    
class child:
    def __init__(self,marks):
        self.marks=marks
c=child(50,45,"pr")
c.name

TypeError: child.__init__() takes 2 positional arguments but 4 were given

In [19]:
c.age

AttributeError: 'child' object has no attribute 'age'

In [24]:
#wap to inherit a class car from automobile and try to find the output of the car class attribute 
class automobile:
    def __init__(self,name):
        self.name=name
class car:
    def __init__(self,name):
        super().__init__(name)
c=car("alto 800")
c.name

TypeError: object.__init__() takes exactly one argument (the instance to initialize)